@using TEAMT2P.Helpers
@{
    ViewBag.Title = "Quản lí thông tin cá nhân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section js{   
<script src="~/Content/_Layout/assets/jquery.validation/jquery.validate.min.js"></script>
    <script type="text/javascript" >
        $('#frmEdit').validate({
            rules: {
                RawPWD: {
                    required:true
                },
                NRawPWD: {
                    required: true,
                    minlength : 6
                },
                CNRawPWD: {
                    equalTo: '#txtNRawPWD'
                },
            },
            messages: {
                RawPWD: {
                    required: 'Vui lòng nhập mật khẩu'
                },
                NRawPWD: {
                    required: 'Vui lòng nhập mật khẩu',
                    minlength: 'Độ dài mật khẩu phải ít nhất 6 kí tự'
                },
                CNRawPWD: {
                    equalTo: 'Mật khẩu nhập lại không đúng'
                },
            },
        });
    </script>
    }

<div class="container">
    <h1>Chỉnh sửa thông tin cá nhân</h1>
    <div class="row">
        <!-- left column -->
        <div class="col-sm-2">
            <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <h6>Chỉnh sửa ảnh</h6>

                <input type="file" class="form-control">
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-sm-7 personal-info">
            <form class="form-horizontal" role="form" id="frmEdit" method="post">
                <div class="form-group">
                    <label class="col-sm-4 control-label">Họ Tên:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" value="@CurrentContext.GetCurUser().f_Name">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Mật khẩu cũ:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="password" value="" name="RawPWD">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Mật khẩu mới:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="password" id="txtNRawPWD" value="" name="NRawPWD">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Nhập lại mật khẩu mới:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="password" id="txtCNRawPWD" name="CNRawPWD">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Email:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="email" value="@CurrentContext.GetCurUser().f_Email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label"></label>
                    <div class="col-md-8">
                        <button type="submit" class="btn btn-success">
                            Lưu thay đổi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
