@model TEAMT2P.Models.User
@{
    ViewBag.Title = "PasswordChange";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
        
<h2>Thay đổi mật khẩu</h2>

@section js {
    <script src="~/Content/_Layout/assets/jquery.validation/jquery.validate.min.js"></script>
    <script src="~/Content/_Layout/assets/bootstrap-datepicker-master/bootstrap-datepicker-master/dist/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $('.datepicker').datepicker({
            format: 'd/m/yyyy',
            autoclose: true,
        });
    </script>
    <script type="text/javascript">
        $('#frmPasswordChange').validate({
            rules: {
                RawPWD: {
                    required: true,                 
                },
                NRawPWD: {
                    required: true,
                    minlength : 6
                },
                CNPWD: {
                    equalTo: '#txtNPWD'
                },
            },
            messages: {
                RawPWD: {
                    required: 'Vui lòng nhập mật khẩu'
                },
                NRawPWD: {
                    required: 'Vui lòng nhập mật khẩu',
                    minlength: 'Độ dài mật khẩu ít nhất 6 kí tự'
                },
                CNPWD: {
                    equalTo: 'Mật khẩu chưa trùng khớp'
                },
            },
        });
    </script>
    }
<form class="form-horizontal" method="post" action="" id="frmPasswordChange">
    <div class="form-group">
        <label for="txtPWD" class="col-sm-4 control-label">Mật khẩu cũ</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="" placeholder="" name="RawPWD">
        </div>
    </div>
    <div class="form-group">
        <label for="txtNPWD" class="col-sm-4 control-label">Mật khẩu mới</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtNPWD" placeholder="" name="NRawPWD">
        </div>
    </div>
    <div class="form-group">
        <label for="txtCNPWD" class="col-sm-4 control-label">Nhập lại mật khẩu mới</label>
        <div class="col-sm-4">
            <input type="password" class="form-control" id="txtCNPWD" placeholder="" name="CNPWD">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-4 control-label"></label>
        <div class="col-md-8">
            <button type="submit" class="btn btn-success">
                Lưu thay đổi
            </button>
        </div>
    </div>
    @if (ViewBag.ErrorMsg != null)
    {
        <div role="alert">
            <strong style="color:red">Thông Báo!</strong> @ViewBag.ErrorMsg
        </div>
    }
    @if (ViewBag.Msg != null)
    {
        <div role="alert" style="color:green">
            @ViewBag.Msg
        </div>
    }

</form>
