@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Category</title>
</head>
<body>
    <form method="post" action="">
        Danh mục:
        <input type="text" name="CatName" />
        <button type="submit">
            Đồng ý
        </button>
    </form>
    <a href="@Url.Action("Index")">Quay về</a>
</body>
</html>