@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Add Category</title>
</head>
<body>
    <form method="post" action="">
        Mã sản phẩm:
        <input type="text" name="ProID" />
        Tên sản phẩm:
        <input type="text" name="ProName" />
        TinyDes:
        <input type="text" name="TinyDes" />
        FullDes:
        <input type="text" name="FullDes" />
        Price:
        <input type="text" name="Price" />
        CatID:
        <input type="text" name="CatID" />
        Quantity:
        <input type="text" name="Quantity" />
        <button type="submit">
            Đồng ý
        </button>
    </form>
    <a href="@Url.Action("Home", "Index")">Quay về</a>
</body>
</html>